@model EnrollmentPortal.Models.Entities.Course

@{
    ViewData["Title"] = "Course Details";
}

<div class="d-flex justify-content-center">
    <div class="card w-md-100 w-50 card-box-shadow">
        <div class="card-header">
            <h2>Course: @Model.Code</h2>
        </div>
        <div class="card-body">
            <div>
                <dl class="row">
                    <dt class="col-sm-3">
                        Name
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-3">
                        Description
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-3">
                        Status
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                </dl>
            </div>
            <div>
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                <a class="btn btn-outline-dark mx-3" asp-action="Index"> &#10502; Back</a>
            </div>
        </div>
    </div>
</div>
